{% extends 'main/base.html' %}

{% block content %}
    <section>
        <form method="post">
            {% csrf_token %}
            <article class="message is-danger">
              <div class="message-header">
                <p>Danger</p>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body">
                  <p>Are you sure you want to delete {{ object }}?</p>
                  <button type="submit" class="button is-danger">Delete</button>
              </div>
            </article>
        </form>
    </section>
{% endblock %}