{% extends 'main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    <section>
        <h1 class="title">Edit {{ task.title }}</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}
            {% for field in form.visible_fields %}
            <div class="field is-grouped">
                {{ field.label_tag }}
                {% render_field field class="control" %}
                {% if field.help_text %}
                <small class="help">{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="button is-link">Save</button>
        </form>
    </section>
{% endblock %}