{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section>
    <h1 class="title">
        Livestock
    </h1>
</section>

<section>
    <div class="field is-grouped my-3">
        <a href="{% url 'livestock:create_animal' %}">
            <button class="button is-success">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
                <span>New Animal</span>
            </button>
        </a>
    </div>
</section>

<section>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>ID</th>
            <th>Type</th>
            <th>Status</th>
            <th>Health</th>
            <td>Logs</td>
            <th><i class="fas fa-pen"></i></th>
            <th><i class="fas fa-trash"></i></th>
            {% for animal in animal_list %}
        <tr>
            <td>
                <a href="{% url 'livestock:animal' animal.pk %}">{{ animal.title }}</a>
            </td>
            <td>
                {{ animal.identification }}
            </td>
            <td>
                {{ animal.type }}
            </td>
            <td>
                <span class="tag {{ animal.status.style }}">{{ animal.status }}</span>
            </td>
            <td>
                <a>{{ animal.health.title }}</a>
            </td>
            <td>
                <a>{{ animal.log.date }}</a>
            </td>
            <td>
                <a href="{% url 'livestock:edit_animal' animal.pk %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'livestock:delete_animal' animal.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
<!--    <p>Total animals <strong>${{ animals_sum }}</strong></p>-->
</section>
{% endblock %}