{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<section>
    <h1 class="title">
        Expenses
    </h1>
</section>

<section>
    <div class="field is-grouped my-3">
        <a href="{% url 'finances:create_expense' %}">
            <button class="button is-success">
            <span class="icon is-small">
              <i class="fas fa-plus"></i>
            </span>
                <span>New Expense</span>
            </button>
        </a>
    </div>
</section>

<section>
    <table class="table">
        <thead>
        <tr>
            <th>Description</th>
            <th>Supplier</th>
            <th>Status</th>
            <th>Total</th>
            <th>Date</th>
            <th>Project/ Task</th>
            <th><i class="fas fa-pen"></i></th>
            <th><i class="fas fa-trash"></i></th>
            {% for expense in expense_list %}
        <tr>
            <td>
                <a href="{% url 'finances:expense' expense.pk %}">{{ expense.title }}</a>
            </td>
            <td>
                {{ expense.supplier }}
            </td>
            <td>
                <span class="tag {{ expense.status.style }}">{{ expense.status }}</span>
            </td>
            <td>
                <strong>${{ expense.total }}</strong>
            </td>
            <td>
                {{ expense.date }}
            </td>
            <td>
                <a>{{ expense.project.title }}</a>
            </td>
            <td>
                <a href="{% url 'finances:edit_expense' expense.pk %}">Edit</a>
            </td>
            <td>
                <a href="{% url 'finances:delete_expense' expense.pk %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p>Total expenses <strong>${{ expenses_sum }}</strong></p>
</section>
{% endblock %}